.div {
  padding: 10px 20px;
  width: 40%;
  background-color: #b13426;
  overflow: hidden;
}
.div h1 {
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 10px;
}
.div p {
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 10px;
  font-size: 20px;
}
.icon {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border: 1px solid rgba(212, 210, 230, 0.377);
  padding: 15px;
  margin: auto;
}
.ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.ul li {
  flex: 40%;
}

.ul li div {
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
@media only screen and (max-width: 1200px) {
  .div h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 950px) {
  .div h1 {
    font-size: 26px;
    padding-top: 40px;
  }
}

@media only screen and (max-width: 850px) {
  .div {
    width: 100%;
    margin: 0;
  }
  .ul li {
    flex: 30%;
  }
  .div h1,
  .div p {
    text-align: center;
  }

  .ul li {
    margin: 20px 0;
    padding: 0;
  }
}
