.form {
  margin: 20px 0 30px;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding-right: 20px;
  overflow: hidden;
}
.button {
  width: 100%;
  padding: 8px;
  margin: 10px 20px 0;
  color: white;
  font-size: 14px;
  background-color: #b13426;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #a72c1f;
  box-shadow: 1px 1px 1px rgb(175, 175, 175);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.button:hover {
  background-color: #b13426;
}
.fifty {
  flex: 50%;
  padding: 20px;
}
.hundred {
  flex: 100%;
  padding: 20px;
}
label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  display: block;
  padding: 10px 0 10px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #aa2a1b;
  padding: 1px 0;
  margin-bottom: 20px;
}

input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #b13426;
  padding: 0;
}

.radio label {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px 0 5px;
}
.radio .radiolabel {
  display: block;
  padding: 10px 0;
}

.radio input {
  display: inline-block;
  width: 20px;
}
.radio input {
  box-shadow: 0 0px 0px rgb(212, 212, 212);
}
input::placeholder {
  letter-spacing: 1px;
}

input:focus::placeholder {
  letter-spacing: 2px;
  color: rgb(29, 29, 29);
}
/*Remove Arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
@media only screen and (max-width: 1200px) {
  .fifty {
    flex: 100%;
    padding: 10px 20px;
  }
  .hundred {
    padding: 10px 20px;
  }
  .form {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 850px) {
  .form {
    width: 100%;
    margin: auto;
    margin: 40px 20px;
  }
}

@media only screen and (max-width: 480px) {
  .form {
    padding-right: 10px;
    margin-left: 0;
    margin-top: 10px;
  }
}
