* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
.page {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.header {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 85vh;
}
.logo_name {
  height: 15vh;
  width: 100%;

  margin: 30px 50px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex: 100%;
  position: relative;
}
.imageprofile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 55%;
}
.logo {
  height: 15vh;
  margin: 0 20px 0 0;
}
.fifty {
  flex: 45%;
}
.select {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 2px 2px;
  border: 1px solid #d32e32;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  z-index: 1;
  min-width: 240px;
  background-color: rgb(248, 248, 248);
}
.select2 {
  position: absolute;
  bottom: -30px;
  right: 0;
  padding: 2px 2px;
  border: 1px solid #48b9db;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  margin: 0 20px;
  z-index: 1;
}

.button1 {
  background-color: white;
  letter-spacing: 1px;
  color: rgb(218, 44, 44);
  padding: 10px 15px;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  border: 1px solid #ebebeb;
  box-shadow: 1px 1px 10px rgb(226, 226, 226);
  min-width: 30%;

  font-weight: 500;
}
.button2 {
  letter-spacing: 1px;
  color: white;
  background-color: #d32e32;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 16px;
  min-width: 30%;
  border: 1px solid #a80b0e;
  box-shadow: 1px 1px 5px rgb(100, 100, 100);
}
.blood {
  color: rgb(241, 117, 117);
}
.box {
  font-size: 20px;
}
.do {
  font-family: "Alfa Slab One", cursive;
  font-family: "Comfortaa", cursive;
  color: #c53434;
  font-size: 42px;
  font-weight: 800;
  padding: 20px 5px;

  text-align: center;
}
.form {
  width: 50%;
  margin: 10px auto 0;
  flex: 55%;
  height: 65vh;
  padding: 100px 20px 0;
  border-right: 1px solid rgb(219, 219, 219);
}
.feildset {
  position: relative;
}

.form .feild {
  display: block;
  width: 80%;
  margin: 20px auto 44.5px;
  padding: 10px 10px 5px;
  border: none;
  border-bottom: 2px solid #48b9db;
}
.form .feild:focus {
  outline: none;
  border: none;
  padding: 10px 10px 4px;
  border-bottom: 3px solid #48b9db;
  box-shadow: 0px 1px 0px #377d92;
  transition: all ease 0.2s;
}
.form .feild:focus::placeholder {
  letter-spacing: 1px;
}

.form button,
.form .buttonred {
  display: block;
  width: 80%;
  margin: 60px auto 0;
  padding: 10px;
  background-color: #48b9db;
  border: none;
  color: white;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
}

.form .buttonred {
  background-color: rgb(211, 81, 81);
}

.form button:hover {
  background-color: #28a1c5;
  letter-spacing: 2px;
}
.form .buttonred:hover {
  background-color: rgb(175, 19, 19);
}
.form .anchor {
  width: 80%;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
}
.form a:visited,
.form a:link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  margin: 0 5px;
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
}

.form a:hover,
.form a:active {
  font-weight: 300;
  letter-spacing: 1px;
  color: #48b9db;
  margin: 0 -2px;
}
.form .error {
  display: block;
  width: 80%;
  margin: 20px auto 44.5px;
  padding: 10px 10px 5px;
  border: none;
  border-bottom: 2px solid rgb(110, 23, 23);
}
.form .error2 {
  color: rgb(110, 23, 23);
  font-size: 16px;

  margin: auto;
  text-align: right;
  position: absolute;
  right: 20%;
  top: 10px;
}
.form .error::placeholder {
  color: rgb(110, 23, 23);
}
.form .error:focus {
  outline: none;
  border: none;
  padding: 10px 10px 4px;
  border-bottom: 3px solid rgb(110, 23, 23);
  box-shadow: 0px 1px 0px rgba(172, 101, 101, 0.712);
}
.profile {
  width: 40%;
  margin: auto;
  flex: 45%;
  height: 65vh;
  padding: 0 80px;
  overflow: hidden;
  position: relative;
}
.img2 {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  position: absolute;
  top: 0;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #d32e32;
  height: 11vh;
  min-height: 75px;
}

.footer p {
  margin: 25px 0 0 40px;
  color: rgb(253, 253, 253);
  letter-spacing: 2px;
  font-weight: 500;
}

.footer ul {
  display: flex;
  justify-content: end;
  margin: 0 20px 0 0;
}

.footer ul li {
  list-style-type: none;
  padding: 4px 5px;
  margin: 22px 5px;
  transition: all ease-out 0.2s;
  -webkit-transition: all ease-out 0.2s;
  -moz-transition: all ease-out 0.2s;
  -ms-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
}

.footer ul li a:link,
.footer ul li a:visited,
.footer ul li a:hover,
.footer ul li a:active {
  padding: 15px 10px;
  color: white;
  font-size: 18px;
}

.footer ul li:hover {
  border-bottom: 1px solid rgb(226, 226, 226);
  margin: 12px 5px;
}

@media only screen and (max-width: 1040px) {
  .button2,
  .button1 {
    width: 80px;
    padding: 10px;
  }
  .select {
    width: 90%;
    margin-left: 10%;
  }
  .profile {
    padding-left: 0px;
  }
  .img2 {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 900px) {
  .footer ul li a:link,
  .footer ul li a:visited,
  .footer ul li a:hover,
  .footer ul li a:active {
    font-size: 16px;
  }
  .select {
    width: 90%;
    margin-left: 5%;
  }
  .form a:visited,
  .form a:link,
  .form a:hover,
  .form a:active {
    font-size: 14px;
  }

  .logo_name {
    margin: 0;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 800px) {
  .select {
    min-width: 200px;
    width: 100%;
    margin-left: -2%;
  }
  .button1,
  .button2 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 700px) {
  .profile {
    display: none;
    width: 0;
    flex: 0;
  }
  .img2 {
    display: none;
  }
  .form {
    border-right: none;
    overflow: hidden;
    flex-direction: row;
  }
  .logo_name {
    height: 10vh;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  .header {
    justify-content: start;
    align-items: initial;
    height: 85%;
  }

  .footer p {
    display: none;
  }

  .footer ul {
    margin: auto;
  }
  .logo_name {
    margin: 0;
    margin-top: 10px;
  }
  .fifty {
    flex: 100%;
  }
  .select {
    width: 80%;
    margin: auto;
    margin-top: 50px;

    flex: 100%;
  }
  .select {
    min-width: 400px;
  }
  .button1,
  .button2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 550px) {
  .select {
    min-width: 300px;
    width: 110%;
    margin-left: -5%;
  }
}

@media only screen and (max-width: 400px) {
  .select {
    min-width: 300px;
    width: 110%;
    margin-left: -5%;
  }
  .button1,
  .button2 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 350px) {
  .select {
    min-width: 250px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .button1,
  .button2 {
    font-size: 16px;
  }
}
