* {
  font-family: "Montserrat", "Arial", sans-serif;
}
.header,
.header2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  color: black;

  background-color: white;
  color: black;
  box-shadow: 0 2px 0 rgb(224, 224, 224);
  top: 0;
  margin-top: 0;
  overflow: hidden;
}

.header {
  position: fixed;
  animation: mymove 0.5s 1;
  -webkit-animation: mymove 0.5s 1;
}
@keyframes mymove {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}
.logo_ {
  flex: 30%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo {
  height: 90px;
  padding: 0 20px 0 20px;
  float: left;
}
.nologo {
  display: none;
}
.logoname {
  font-family: "Bungee Shade", cursive;
  color: #c53434;
  font-size: 32px;
  font-weight: 400;
  padding: 5px;

  text-align: center;
}
.header .logoname {
  padding-left: 20px;
  text-align: center;
  flex: 100%;
}
.burger {
  color: white;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
.ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  color: white;
  padding: 15px;
  padding-top: 10px;
  margin: 10px;
}
.header .link {
  color: black;
}
.header2 .link {
  color: black;
}
li .link:link,
li .link:visited {
  line-height: 2;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  border-bottom: 0 solid transparent;
  transition: border-bottom 0.2s;
  -webkit-transition: border-bottom 0.2s;
  -moz-transition: border-bottom 0.2s;
  -ms-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
}

li .link:hover,
li .link:visited {
  border-bottom: 2px solid #cc1a1d;
}

.header li .active {
  color: #ee2528 !important;
  border-bottom: none !important;
}

.header2 li .active {
  color: #ee2528 !important;
  border-bottom: none !important;
}
.burgerbut {
  height: 40px;
  width: 40px;
  border: 2px solid #c53434;
  border-radius: 100px;
  text-align: center;
  padding: 6px 8px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.lines {
  width: 20px;
  height: 2.5px;
  background-color: #c53434;
  margin: 4px 0;
}

.do {
  font-family: "WindSong", cursive;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 64px;
  display: block;
  color: #2594b6;
}
@media only screen and (max-width: 1240px) {
  .logo_ {
    flex: 20%;
  }
  .logo {
    margin: 0;
    padding: 0 20px 0 20px;
  }
}
@media only screen and (max-width: 1144px) {
  .logo_ {
    flex: 20%;
  }
  .logo {
    margin: 0;
    padding: 0 20px 0 20px;
  }
  .do {
    display: none;
  }
  ul li {
    margin: 5px;
  }
  .header2 ul li,
  .header ul li {
    padding: 5px;
  }
}
@media only screen and (max-width: 960px) {
  li .link:link,
  li .link:visited {
    font-size: 18px;
    letter-spacing: 1px;
  }
  .header2 ul li,
  .header ul li {
    padding: 0;
  }
}

@media only screen and (max-width: 870px) {
  .header2 ul li,
  .header ul li {
    padding: 0;
  }
}

@media only screen and (max-width: 800px) {
  .ul {
    display: none;
  }

  .burger {
    display: inline-block;
  }
  .logoname {
    flex: 100%;
  }
}
